<head>
  <!--===============================================
  Template Design By WpFreeware Team.
  Author URI : http://www.wpfreeware.com/
  ====================================================-->

  <!-- Basic Page Needs
  ================================================== -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title><%=@title %></title>

  <!-- Mobile Specific Metas
  ================================================== -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Favicon -->
  <link rel="shortcut icon" type="image/icon" href="/images/wpf-favicon.png"/>

  <!-- CSS
  ================================================== -->
  <%= erb :"/estilos-css" %>
</head>

